

*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

#navbar{
    padding: 20px 15px;
    display: flex;
  justify-content: space-between;
align-items: center;
background-color:#F8F8F8;
  
}
#navbar > div:first-child{
    display: flex;
}
#navbar >div:first-child > img{
    width: 180px;
    height:41px;
    margin-right: 20px;
}
#navbar >div:first-child > div{
    height:45px;
    display:flex;
    align-items: center;
    color: #2f2f2f;
}
#navbar a{
    font-family:sans-serif;
    color: #2f2f2f;
    font-weight:600;
    font-size: 14px;
    padding: 28px 15px;
    transition: all .2s ease-in-out;
    text-decoration: none;
}

#navbar  a:hover{
    color:#F37E5D;
}

 #navbar > div:last-child > button{
   background-color: #F37E5D;
border-radius: 5px;
padding:14px;
color:#fff;
border: none;
 }

  /* whyCoschedule-Card -----------------------*/

 #whyCoshedule-card{
     width:300px;
     box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
     padding:20px;
font-family: sans-serif;
line-height:18px;
position:absolute;
top:45px;
display:none;
background-color:#fff;
border-radius:5px;
 }

 #navbar > div:first-child > div > div:nth-child(2) {
     position:relative;
     cursor:pointer;
 }
 #navbar > #main-div > div > div:nth-child(2):hover  div{
     display:block;
 }


 #whyCoshedule-card > div{
width:250px;
padding:20px;
 }

 #whyCoshedule-card > div:hover{
     background-color:#F8F8F8;
 }

 .grey-color{
     color: rgb(128, 122, 122);
 }

 /* Product Card -------------------- */

#navbar > #main-div > div > div:first-child{
position: relative;
}

 #product-card{
    border-radius: 5px;
    top:45px;
    left: -160px;
     width:720px;
     height:320px;
     background-color:#fff;
     position:absolute;
     padding:30px;
     box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
     /* display:none; */
 }

 #navbar #product-card{
     display: flex;
 }

 #navbar #product-card h5{
     letter-spacing:1px
 }
 #navbar #product-card >div:first-child{
width: 55%;
border-right: 1px solid rgb(219, 214, 214);
padding:10px;
color:#2f2f2f;
 }
 #navbar #product-card >div:last-child{
     width:45%;
     padding:10px 30px;
 }


 #product-card > div > div{
     display: flex;
     height:110px;
     align-items:flex-start;
     margin-top: 10px;
     width:100%;
     line-height:20px;
     padding:30px 30px 30px 0px;
 }
 #product-card > div:nth-child(2) > div{
     height:70px;
     margin-bottom: 40px;
     align-items:center;
     color: #2f2f2f;
 }
 #product-card > div:first-child > div > img{
     margin-right: 20px;
 }
 #product-card > div:nth-child(2) > div > img{
     margin-right:10px
 }

 #navbar > #main-div > div > div:first-child > div{
     display:none;
 }
 #navbar > #main-div > div > div:first-child:hover > div{
     display:block;
 }

 #navbar > #main-div > div > div > div > div > div > div:hover{
     background-color:#F8F8F8;
 }